a {
    text-decoration: none;
    color: black;
}

.body-container {
    max-width: 1280px;
    margin: auto;
}

.container {
    max-width: 1280px;
    margin: auto;
}

/*header*/

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
    margin-top: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 50px;
}

.nav ul {
    display: flex;
    gap: 50px;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'DM Sans', sans-serif;
}

.logo a{
    display: flex;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    gap: 25px;
}

.search-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    position: relative;
    width: 300px;
}

input {
    width: 100%;
    height: 30px;
    border: 1px solid #7ba7ab;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    font-family: 'DM Sans', sans-serif;

}

button {
    position: absolute;
    top: 5px;
    right: 0;
    border: none;
    cursor: pointer;
    background: none;
}

button img {
    width: 20px;
    height: 20px;
}


.card-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.card-image h1 {
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
}

.year {
    font-family: 'DM Sans', sans-serif;
    margin-top: -10px;
}

.card {
    display: flex;
    margin-right: 50px;
    margin-top: 50px;
}

.card img{
    width: 200px;
    height: 300px;
}

.card-field {
    max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    margin-left: -50px;
}

.filter-content{
    margin-left: 200px;
}


.card-info {
    display: flex;
    flex-direction: column;
}


.age {
    padding: 2px 0px 2px 10px;
    border-radius: 10px;
    background-color: lightcoral;
    font-family: 'DM Sans', sans-serif;
    width: 25px;
    position: absolute;
    bottom: 90px;
    left: 60px;
}

.card-image {
    width: 300px;
}

.grade {
    font-family: 'DM Sans', sans-serif;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    background-color: lightgreen;
    font-family: 'DM Sans', sans-serif;
    width: 25px;
    position: absolute;
    bottom: 90px;
    right: 60px;
}

.janre {
    font-family: 'DM Sans', sans-serif;
}

.card a {
    display: flex;
    align-items: center;
}



.card-view{
    display: flex;
}

.card-name {
    display: flex;
    font-family: 'DM Sans', sans-serif;
}


.card-header {
    display: flex;
    margin-top: 50px;
}

.card-pre {
    position: relative;
}

.card-info {
    margin-left: 15px;
    padding: 15px;
    background: rgba(217, 217, 217, 0.2);
    height: 385px;
}



.card-info p {
    font-family: 'DM Sans', sans-serif;
}

.hidden {
    display: none;
}

.card-grade {
    font-family: 'DM Sans', sans-serif;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    background-color: lightgreen;
    font-family: 'DM Sans', sans-serif;
    width: 25px;
    position: absolute;
    top: 5px;
    right: 10px;
}

.year {
    margin-top: 15px;
    margin-bottom: 15px;
}

.trailer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: 'DM Sans', sans-serif;
}

.main-filter{
    display: flex;
}

.main-genre label {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
}

.main-genre input {
    height: 15px;
}

.main-year label {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
}

.main-year input {
    height: 15px;
    margin-top: -5px;
}

.main-rating label {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
}

.main-rating input {
    height: 15px;
}

.filter-content {
    margin-top: 25px;
}

